In [1]:
#modify dataframes ans useful functions

import pandas as pd

data=pd.read_csv("C:/Users/Vartotojas/Desktop/Financial analysis training/AAPL.csv", index_col=0, parse_dates=True)

In [2]:
data.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-10-11,142.270004,144.809998,141.809998,142.809998,142.014206,64452200
2021-10-12,143.229996,143.250000,141.039993,141.509995,140.721451,73035900
2021-10-13,141.240005,141.399994,139.199997,140.910004,140.124786,78762700
2021-10-14,142.110001,143.880005,141.509995,143.759995,142.958923,69907100
2021-10-15,143.770004,144.899994,143.509995,144.839996,144.032898,67940300

In [5]:
#insert additional column

data["Daily chg"] = data["Close"] - data["Open"]

In [6]:
data.head()

,Open,High,Low,Close,Adj Close,Volume,Daily chg
Date,,,,,,,
2021-10-11,142.270004,144.809998,141.809998,142.809998,142.014206,64452200,0.539994
2021-10-12,143.229996,143.250000,141.039993,141.509995,140.721451,73035900,-1.720001
2021-10-13,141.240005,141.399994,139.199997,140.910004,140.124786,78762700,-0.330001
2021-10-14,142.110001,143.880005,141.509995,143.759995,142.958923,69907100,1.649994
2021-10-15,143.770004,144.899994,143.509995,144.839996,144.032898,67940300,1.069992

In [7]:
# calculation of growth
data["Normalized"] = data["Close"]/data["Close"].iloc[0]
data.head()

,Open,High,Low,Close,Adj Close,Volume,Daily chg,Normalized
Date,,,,,,,,
2021-10-11,142.270004,144.809998,141.809998,142.809998,142.014206,64452200,0.539994,1.000000
2021-10-12,143.229996,143.250000,141.039993,141.509995,140.721451,73035900,-1.720001,0.990897
2021-10-13,141.240005,141.399994,139.199997,140.910004,140.124786,78762700,-0.330001,0.986696
2021-10-14,142.110001,143.880005,141.509995,143.759995,142.958923,69907100,1.649994,1.006652
2021-10-15,143.770004,144.899994,143.509995,144.839996,144.032898,67940300,1.069992,1.014215

In [8]:
data.tail()

,Open,High,Low,Close,Adj Close,Volume,Daily chg,Normalized
Date,,,,,,,,
2022-10-04,145.029999,146.220001,144.259995,146.100006,146.100006,87830100,1.070007,1.023038
2022-10-05,144.070007,147.380005,143.009995,146.399994,146.399994,79471000,2.329987,1.025138
2022-10-06,145.809998,147.539993,145.220001,145.429993,145.429993,68402200,-0.380005,1.018346
2022-10-07,142.539993,143.100006,139.449997,140.089996,140.089996,85859100,-2.449997,0.980954
2022-10-10,140.419998,141.889999,138.570007,140.419998,140.419998,74827900,0.000000,0.983264

In [10]:
#find minimum value
data["Daily chg"].min()

-7.0800020000000075

In [11]:
#argmin function show the line numer which is the lowest
data["Close"].argmin()

172

In [12]:
data.iloc[172]

Open          1.320800e+02
High          1.323900e+02
Low           1.290400e+02
Close         1.300600e+02
Adj Close     1.298796e+02
Volume        1.081239e+08
Daily chg    -2.020004e+00
Normalized    9.107205e-01
Name: 2022-06-16 00:00:00, dtype: float64

In [13]:
data["Close"].min()

130.059998

In [14]:
data["Normalized"].min()

0.9107205365271415

In [15]:
data["Normalized"].max()

1.2744905647292286

In [17]:
data.iloc[250:]

,Open,High,Low,Close,Adj Close,Volume,Daily chg,Normalized
Date,,,,,,,,
2022-10-07,142.539993,143.100006,139.449997,140.089996,140.089996,85859100,-2.449997,0.980954
2022-10-10,140.419998,141.889999,138.570007,140.419998,140.419998,74827900,0.000000,0.983264

In [18]:
# calculation of the mean (In this case not useful)
data["Close"].mean()

158.6681351388889

In [19]:
data.head()

,Open,High,Low,Close,Adj Close,Volume,Daily chg,Normalized
Date,,,,,,,,
2021-10-11,142.270004,144.809998,141.809998,142.809998,142.014206,64452200,0.539994,1.000000
2021-10-12,143.229996,143.250000,141.039993,141.509995,140.721451,73035900,-1.720001,0.990897
2021-10-13,141.240005,141.399994,139.199997,140.910004,140.124786,78762700,-0.330001,0.986696
2021-10-14,142.110001,143.880005,141.509995,143.759995,142.958923,69907100,1.649994,1.006652
2021-10-15,143.770004,144.899994,143.509995,144.839996,144.032898,67940300,1.069992,1.014215

In [28]:
#delete columns. axis = 1 to delete columns not rows

data.drop(labels=["High", "Low", "Volume"], axis = 1, inplace=True)

#after inplace it changed dataframe and mentioned columns not found any more

KeyError: "['High', 'Low', 'Volume'] not found in axis"

In [30]:
data.head()

                  Open       Close   Adj Close  Daily chg  Normalized
Date
2021-10-11  142.270004  142.809998  142.014206   0.539994    1.000000
2021-10-12  143.229996  141.509995  140.721451  -1.720001    0.990897
2021-10-13  141.240005  140.910004  140.124786  -0.330001    0.986696
2021-10-14  142.110001  143.759995  142.958923   1.649994    1.006652
2021-10-15  143.770004  144.839996  144.032898   1.069992    1.014215